<!-- <p>breadcrumb works!</p> -->
<!-- Header with title and actions -->
  <div class="table-header">
    <div class="table-title">
        <!-- <a href="/teachers">Teachers</a>
        <a style="color: #343a40;"> / Nomsa Mthembu</a> -->
        @for(heading of titleBreadcrumbs(); track $index;  let first = $first;  let last = $last){
            @if (!first) { <div> / </div> }
            @let headerClass = !last ? 'header-title' : '';
            <div class="{{headerClass}}">
                {{ heading }}
            </div>

        }
    </div>

    <div class="table-actions">
      <button class="btn btn-secondary" (click)="refreshData()">
        <span class="btn-icon">↻</span>
        Refresh
      </button>
      <button class="btn btn-primary" (click)="addNew()">
        <span class="btn-icon">+</span>
        Add New
      </button>
    </div>
  </div>
