<!-- <p>breadcrumb works!</p> -->
<!-- Header with title and actions -->
  <div class="table-header">
    <div class="table-title">
        @for(heading of titleBreadcrumbs(); track $index;  let first = $first;  let last = $last){
            @if (!first) { <div> / </div> }
            <div [class.header-title]="!last" 
                    [routerLink]="heading.url || null">
                {{ heading.name }}
            </div>
        }
    </div>

    <div class="table-actions">
      <button class="btn btn-secondary" (click)="refreshData()">
        <span class="btn-icon">↻</span>
        Refresh
      </button>
      <button class="btn btn-primary" (click)="addNew()">
        <span class="btn-icon">+</span>
        Add New
      </button>
    </div>
  </div>
