<div class="assessment-item">
    <div class="assessment-date">
        <span class="date-day">{{assessment()?.due_date | date:'d'}}</span>
        <span class="date-month">{{assessment()?.due_date | date:'MMM'}}</span>
    </div>
    <div class="assessment-icon">{{getAssessmentIcon(assessment()?.type)}}</div>
    <div class="assessment-info">
        <div class="assessment-name">{{assessment()?.name}}</div>
        <div class="assessment-meta">
        <span>
            <span class="meta-icon">📋</span>
            <!-- {{assessment()?.topic}} -->
        </span>
        <span>
            <span class="meta-icon">⏱️</span>
            {{assessment()?.duration}} min
        </span>
        </div>
    </div>
    <span class="assessment-weight">{{assessment()?.weight}}%</span>
    <div class="assessment-actions">
        <button class="btn btn-outline btn-sm">
        <span class="btn-icon">👁️</span>
        </button>
    </div>
</div>